@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    color: rgba(255, 255, 255, 0.6);
    background-image: url(starTrek.jpg);
    background-position: center;
    background-size: cover;
}

span {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 50px;
    letter-spacing: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}

#series-movies {
    font-size: 20px;
}

#series-movies h2 {
    font-size: 2em;
}

li {
    padding: 2px;
    font-size: 1rem;
}

#characters {
    font-size: 18px;
}

h4 {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 15px;
}

h4, h3, h2 {
    text-align: center;
}